In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# importing products.csv
df_prods = pd.read_csv(r'/Users/davidscheider/anaconda_projects/Instacart Basket Analysis/02 Data/Original Data/products.csv', index_col = False)

In [4]:
# importing path
path = r'/Users/davidscheider/anaconda_projects/Instacart Basket Analysis'

In [5]:
#importing orders_wrangled.csv
df_ords = pd.read_csv(r'/Users/davidscheider/anaconda_projects/Instacart Basket Analysis/02 Data/Prepared Data/orders_wrangled.csv', index_col = False)

In [6]:
# simple data analytics
df_ords.describe()

,Unnamed: 0,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [7]:
# Create a dataframe

df_test = pd.DataFrame()

In [8]:
# Create a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
# checking whether a dataframe contains any mixed-type columns

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/799549569.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [11]:
df_test['mix'] = df_test['mix'].astype('str')

In [12]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
df_prods.shape

(49693, 5)

In [16]:
# create new dataframe df_prods_clean

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
# check if the number of rows has decreased

df_prods_clean.shape

(49677, 5)

In [18]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [19]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [20]:
df_prods_clean.shape

(49677, 5)

In [21]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
df_prods_clean_no_dups.shape

(49672, 5)

## Exercise 4.5

In [23]:
df_ords.describe()

,Unnamed: 0,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

The max customer_id is 206209 although there are 3421083 cases. Shouldn't the max customer_id equal the count? Also, the max order number 100 seems odd. days_since_prior_order has fewer records than all the other columns, probaby because 0 counts as Nan.

In [24]:
# checking whether a dataframe contains any mixed-type columns

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/1822015986.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/1822015986.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/1822015986.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/1822015986.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/1822015986.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/1822015986.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bz/7hwgnc95287cp83lwy4gfzth0000gn/T/ipykernel_7580/1822015986.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [25]:
## Other method to check for mixed-type data

print(df_ords.dtypes)

Unnamed: 0                  int64
order_id                    int64
customer_id                 int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [26]:
# Look for 'object' dtype columns that might contain mixed types

object_columns = df_ords.select_dtypes(include=['object']).columns
print("Object columns (potential mixed types):", object_columns.tolist())

Object columns (potential mixed types): []

In [27]:
def check_mixed_types(df, column):
    """Check if a column contains mixed data types"""
    sample_values = df[column].dropna().head(1000)  # Sample for performance
    types = set(type(val).__name__ for val in sample_values)
    return len(types) > 1, types

In [28]:
# Check each column
for col in df_ords.columns:
    has_mixed, types_found = check_mixed_types(df_ords, col)
    if has_mixed:
        print(f"Column '{col}' has mixed types: {types_found}")

In [29]:
## Identify Problematic Values

def find_problematic_values(df, column, expected_type):
    """Find values that don't match expected type"""
    problematic = []
    for idx, val in df[column].items():
        if pd.notna(val):
            try:
                expected_type(val)
            except (ValueError, TypeError):
                problematic.append((idx, val, type(val).__name__))
    return problematic

# Example: Check if 'order_id' should be numeric
problems = find_problematic_values(df_ords, 'order_id', int)
if problems:
    print("Problematic values in order_id:")
    for idx, val, val_type in problems[:10]:  # Show first 10
        print(f"  Index {idx}: {val} (type: {val_type})")

## No problematic values were found

In [30]:
## finding missing values in df_ords

df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
customer_id                    0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

206209 missing values were found. However, these are null values in days_since_prior_order and are to be left null. No action was taken.

In [31]:
## Check for duplicates

df_dups_ords = df_ords[df_ords.duplicated()]

In [32]:
df_dups_ords

Empty DataFrame
Columns: [Unnamed: 0, order_id, customer_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

## No duplicates were found

In [33]:
## Create new dataframe df_ords_clean including all changes

df_ords_clean = df_ords.copy()

In [37]:
df_ords_clean.shape

(3421083, 7)

In [34]:
# Define the folder path
folder_path = '/Users/davidscheider/anaconda_projects/Instacart Basket Analysis/02 Data/Prepared Data/'

In [35]:
## Export df_prods_clean
df_prods_clean.to_csv(folder_path + 'products_clean.csv', index=False)

In [36]:
## Export df_ords_clean
df_ords_clean.to_csv(folder_path + 'orders_clean.csv', index=False)