In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [7]:
# Load the pickle file
orders_products_combined = pd.read_pickle(r'/Users/davidscheider/anaconda_projects/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

In [8]:
orders_products_combined.shape

(32434489, 11)

In [9]:
# importing path
path = r'/Users/davidscheider/anaconda_projects/Instacart Basket Analysis'

In [10]:
# Load products data
products_clean = pd.read_csv(r'/Users/davidscheider/anaconda_projects/Instacart Basket Analysis/02 Data/Prepared Data/products_clean.csv')

In [11]:
# Check the output
orders_products_combined.head()

,Unnamed: 0,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
products_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [20]:
# check the shape of products_clean
products_clean.shape

(49677, 5)

In [21]:
# merge orders_products_combined and products_clean on product_id
orders_products_merged = orders_products_combined.merge(
    products_clean, 
    on='product_id', 
    indicator='_merge_status'
)

In [18]:
orders_products_merged.head()

,Unnamed: 0,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,_merge_status
0,0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [19]:
orders_products_merged.shape

(32406041, 16)

In [22]:
# check merge_status for merge flags
print(orders_products_merged['_merge_status'].value_counts())

_merge_status
both          32406041
left_only            0
right_only           0
Name: count, dtype: int64

In [23]:
# importing path
path = r'/Users/davidscheider/anaconda_projects/Instacart Basket Analysis'

In [25]:
# export orders_products_merged as pickle file
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data','ords_prods_merge.pkl'))